@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}


nav {
    height: 72px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 200px;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #F9FAf8;

}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #F9FAf8;
}

.links {
    display: flex;
    align-items: center;
}

/* hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-main-text {
    width: 400px;
    margin: 0 200px;
}

.hero-image {
    width: 400px;
}